.main_card{
    background-color: rgb(112, 153, 211);
    max-width:500px;
    padding:30px;
    width:100%;
    max-width:500px;
    border-radius: 10px;  
      box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

body {
    font-family: cursive;
    background-color: rgb(96, 134, 191);
    justify-content: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Task_items{
    padding: 20px;
   
}

.task_card{
    display: flex;
    gap: 12px;
}

#input-container{
    padding: 23px;
    border-radius: 20px;
    border-color: rgb(19, 19, 18);
    font-size: large;
}

#addButton{
    background-color: aqua;
    padding: 12px 16px;
    border-radius:10px;
    border:none;   
}

#addButton:hover{
    cursor: pointer;
    background-color: brown;
    text-align: center;
}

.task_item{
    margin-bottom: 15px;
}