.main{
    background-color: white;
    display:flex;
    flex-direction: column;
    max-width:500px;
    justify-content: center;
    align-items: center;
    margin:10px;
    font-family: Arial, sans-serif;
    padding: 30px;
    border-radius: 15px;
    box-shadow: #131e37;
}

body{
    margin: 0;
    height: 100vh;
    background-color: #4b6cb7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}
.grid-items{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-bottom: 10px;
}
.square{
    
    background-color: #e0eef5;
    border-radius: 10px;
    font-size: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    border: 0cap;
}

.square:hover{
    background-color:rgb(230,230,230);
    cursor: pointer;
}

#addButton{
    background-color: rgb(96, 116, 182);
    width: 20px 5px;
    border-radius: 10px;
    padding: 10px;
    gap:10px;
    border: 0;
}

#addButton:hover{
    background-color: rgb(68,115,115);
    cursor: pointer;
}